.nav {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 3px;
  box-sizing: border-box;
  display: flex;
  background-color: #737373;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    li {
      margin: 0 15px 0 15px;
      list-style: none;
      a {
        padding: 8px;
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        border-radius: 5px;
        border-right: 2px solid rgba(0, 0, 0, 0);
        border-bottom: 2px solid rgba(0, 0, 0, 0);
        transition: 200ms;
      }
      a:hover {
        padding: 8px;
        color: #c2d971;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        border-radius: 5px;
        border-right: 2px solid #c2d971;
        border-bottom: 2px solid #c2d971;
      }
    }
  }
}
