.layout {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "content content content content"
    "footer footer footer footer";
}

.header {
  grid-area: header;
  margin: 0;
}

.nav {
    width: 100%;
  grid-area: nav;
  margin: 0;
}


.content {
  grid-area: content;
  margin: 0;
}

.footer{
    grid-area: footer;
  margin: 0;
}
